body {
  max-width: 600px;
  margin: auto;
  background-color: black;
}

#content {
  background-color: white;
  padding: 10px 10px 10px 10px;
}

#title {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#quote p{
    font-style: italic;
    text-align: right;
}

#container {
    border: 1px solid black;
    border-radius: 5px;
    background-color:  #cccccc;
    width:50%;
}

#container-title{
    background-color: rgb(141, 140, 140);
    padding: 5px 5px 5px 5px;
    text-align: center;
    margin: 10px 15px 10px 15px;
}

#container-image{
    text-align: center;
}

#container-image img{
    text-align: center;
    width:60%;
}

p {
    text-align: justify;
}