body {
    background: cornflowerblue;
    font-family: Arial;
    font-size: 23px;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    background-color: white;
    font-weight: bold;
    padding: 5px;
    width:100%;
    max-width: 600px;
}

#game ul {
    padding: 0px;
}

.alternative{
    background-color: lightgray;
    margin-top: 5px;
    padding: 5px;
    width:100%;
    max-width: 600px;
    list-style-type: none;
}

.alternative:hover {
    cursor: pointer;
    opacity: 70%;
}

#result, #score {
    color: white;
    margin-top: 5px;
    width:100%;
    max-width: 600px;
}

#score {
    font-weight: bold;
}